@font-face {
  font-family: Bitter;
  src: url("assets/fonts/Bitter-VariableFont_wght.ttf");
}

.header {
  background: rgb(199, 209, 209);
  max-width: 1440px;
  margin: 0 auto;
  justify-content: flex-end;
  border-right:40px solid rgb(199, 209, 209);
}

.footer {
  background: rgb(199, 209, 209);
  max-width: 1440px;
  margin: auto;
  border-right:40px solid rgb(199, 209, 209);
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  list-style: none;
}

html {
  scroll-behavior: smooth; 
}

.nav-link {
  padding: 0 30px;
  line-height: 50px;
  color: #85581e;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 3s;
}

.nav-link:hover {
  color: #f0f2f3;
  text-decoration: underline;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content:flex-end;
  border-right:40px solid rgb(199, 209, 209);
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

body {
  font-family: 'Bitter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #1b4d5c;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #35749e;
}

.section-profile {
  position: relative;  
  width: 30%;
  box-sizing:border-box;
  text-align: center;
}

#name {
  font-size: 40px; 
  font-weight: bold;
  margin-top: 10px; 
  margin-bottom:15px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.photo {
  border: 3px solid #1b4d5c;
}

.section-list {
  color: #85581e;
  padding: auto;
  line-height: 1.5;
}
.left {
  background-color: rgb(199, 209, 209);
  position: relative;
}

#profile {
  text-align: center;
}

h2 {
  text-align: center;
  border: 1px solid;
}

b {
  color: #1b4d5c;
}

.right {
  padding: 20px;
  margin: 5%;
  border-left: 5px solid #85581e;
  border-top: 5px solid #85581e;
}

.section-list-skill{
  list-style-type: none;
}

.container-footer {
  box-sizing: border-box;
  display: flex;
  justify-content:space-around;
  }

 hr {
  border: none;
  background-color: #85581e;
  color: #85581e;
  height: 5px;
  }